body {
  background: var(--background);
}

/* Regular font */
@font-face {
  font-family: "Regular-font";
  src: url("assets/fonts/static/NotoSans-Regular.ttf") format("woff2");
}

/* Bold Font */
@font-face {
  font-family: "Bold-font";
  src: url("assets/fonts/static/NotoSans-Bold.ttf") format("woff2");
}

/* Fonts class */
.regular-font {
  font-family: "Regular-font";
}

.bold-font {
  font-family: "Bold-font";
}

.focus:focus {
  border: 3px solid var(--focus-active-color);
}

.display-none{
  display: none;
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  padding: 12px;
  width: 80%;
  border-radius: 20px;
  background-color: var(--bg-main);
}

.logo-box {
  display: flex;
  gap: 12px;
}

.logo-header {
  margin-left: 0.3rem;
  width: 38px;
}

.header-title-box {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
  color: var(--color-main);
}

.dark-light-mode-box {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-right: 0.3rem;
}

.button-dark-light-mode {
  background-color: var(--buttons-colors);
  border: none;
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
}

.button-dark-light-mode:hover {
  background-color: var(--hover-color);
}

.logo-dark-light {
  display: flex;
  align-items: center;
  width: 20px;
}

.extensions-list-container {
  display: flex;
  width: 82%;
}

.extensions-list-section {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.extensions-list-title-box {
  display: flex;
  width: 100%;
}

.extensions-list-title {
  color: var(--color-main);
}

.buttons-extensions-list-box {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 10px;
}

.buttons-extensions-list-box button {
  padding: 8px 11px;
  border-radius: 15px;
  font-family: "Regular-font";
  border: none;
  background-color: var(--buttons-colors);
  color: var(--color-main);
  cursor: pointer;
}

.buttons-extensions-list-box button:hover {
  background-color: var(--hover-color);
}

#data-content {
  padding: 0 8rem 3.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 12px;
}

.content-data-box {
  display: flex;
  gap: 10px;
  background-color: var(--bg-main);
  color: var(--color-main);
  padding: 15px;
  border-radius: 17px;
}

.logo-data-content-box {
  height: 4rem;
  display: flex;
  align-items: center;
}

.container-checkbox {
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

.container-checkbox input {
  cursor: pointer;
}
