/* Colors root */
:root {
  --color-main-dark-mode: rgb(232, 232, 232);
  --bg-main-dark-mode: hsl(228, 45%, 44%);
}

/* Regular font */
@font-face {
  font-family: "Regular-font";
  src: url("assets/fonts/static/NotoSans-Regular.ttf") format("woff2");
}

/* Bold Font */
@font-face {
  font-family: "Bold-font";
  src: url("assets/fonts/static/NotoSans-Bold.ttf") format("woff2");
}

/* Fonts class */
.regular-font {
  font-family: "Regular-font";
}

.bold-font {
  font-family: "Bold-font";
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  padding: 12px;
  width: 80%;
  border-radius: 20px;
  background-color: var(--bg-main-dark-mode);
}

.logo-box {
  display: flex;
  gap: 12px;
}

.logo-header {
  margin-left: 0.3rem;
  width: 38px;
}

.header-title-box {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
  color: var(--color-main-dark-mode);
}

.dark-light-mode-box {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-right: 0.3rem;
}

.button-dark-light-mode {
  background-color: hsl(228, 27%, 46%);
  border: none;
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
}

.logo-dark-light {
  display: flex;
  align-items: center;
  width: 20px;
}

.extensions-list-container {
  display: flex;
  width: 82%;
}

.extensions-list-section {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.extensions-list-title-box {
  display: flex;
  width: 100%;
}

.extensions-list-title {
  color: var(--color-main-dark-mode);
}

.buttons-extensions-list-box {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 10px;
}

.buttons-extensions-list-box button {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 15px;
  font-family: "Regular-font";
  border: none;
  background-color: hsl(228, 27%, 46%);
  color: var(--color-main-dark-mode);
  cursor: pointer;
}
